Repository AniFichadia/Figstract, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, cli, library, core, android, ios, assets, variables, cicd

.github/labeler.yml:

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'gradle/libs.versions.toml'
cli:
  - changed-files:
      - any-glob-to-any-file:
          - 'cli/**'
          - 'cli-core/**'
library:
  - changed-files:
      - any-glob-to-any-file:
          - 'library-core/**'
          - 'library-android/**'
          - 'library-ios/**'
core:
  - changed-files:
      - any-glob-to-any-file:
          - 'library-core/**'
android:
  - changed-files:
      - any-glob-to-any-file:
          - 'library-android/**'
ios:
  - changed-files:
      - any-glob-to-any-file:
          - 'library-ios/**'
assets:
  - changed-files:
      - any-glob-to-any-file:
          - '**/asset/**'
          - '**/assets/**'
variables:
  - changed-files:
      - any-glob-to-any-file:
          - '**/variable/**'
          - '**/variables/**'
cicd:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'

Sets up theme variant mappings
  library-core/src/main/java/com/anifichadia/figstract/importer/variable/model/ThemeVariantMapping.kt
Labels: library, core, variables

Adds theme variant mapping support for iOS asset catalogs
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/variables/RealVariablesCommand.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/AssetCatalog.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/variable/model/IosAssetCatalogVariableDataWriter.kt
Labels: cli, library, ios, variables

Renames variable asset catalog logical grouping to Namespace from Module
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/assets/RealAssetsCommand.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/variables/RealVariablesCommand.kt
Labels: cli, assets, variables

Integrates theme variant mappings with CLI command
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/variables/RealVariablesCommand.kt
Labels: cli, variables

Inert integration of theme variants for VariableDataWriters
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/variables/RealVariablesCommand.kt
  library-android/src/main/java/com/anifichadia/figstract/android/importer/variable/model/AndroidComposeVariableDataWriter.kt
  library-core/src/main/java/com/anifichadia/figstract/importer/variable/FigmaVariableImporter.kt
  library-core/src/main/java/com/anifichadia/figstract/importer/variable/model/JsonVariableDataWriter.kt
  library-core/src/main/java/com/anifichadia/figstract/importer/variable/model/VariableData.kt
  library-core/src/main/java/com/anifichadia/figstract/importer/variable/model/VariableDataWriter.kt
  library-core/src/main/java/com/anifichadia/figstract/importer/variable/model/VariableFileHandler.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/ContentHelpers.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/variable/model/IosAssetCatalogVariableDataWriter.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/variable/model/IosSwiftUiVariableDataWriter.kt
Labels: cli, library, core, android, ios, variables

Renames asset catalog Type to AssetType and improves utility
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/assets/handler/ArtworkFileHandler.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/assets/handler/IconFileHandler.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/AssetCatalog.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/AssetType.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/Type.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/asset/model/importing/ImportPipelines.kt
Labels: cli, library, ios, assets

Adds theme variant mapping support for Android
  library-android/src/main/java/com/anifichadia/figstract/android/importer/variable/model/AndroidComposeVariableDataWriter.kt
Labels: library, android, variables

Sets up resolved values for theme variants
  library-core/src/main/java/com/anifichadia/figstract/importer/variable/model/ResolvedThemeVariantMapping.kt
Labels: library, core, variables

Prepares release 0.2.0
  gradle.properties
Labels: none
