Repository AniFichadia/Figstract, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, cli, library, core, android, ios

Sets up experimental figstract annotation
  library-core/src/main/java/com/anifichadia/figstract/Annotations.kt
Labels: library, core

Standardizes creation of VariableDataWriters in CLI
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/variables/RealVariablesCommand.kt
Labels: cli

Improves asset catalog type management
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/assets/handler/ArtworkFileHandler.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/assets/handler/IconFileHandler.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/Type.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/asset/model/importing/ImportPipelines.kt
Labels: cli, library, ios

Adds asset catalog support for color entries
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/AssetCatalog.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/Content.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/Type.kt
Labels: library, ios

Asset catalog convention improvements
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/AssetCatalog.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/asset/model/importing/ImportPipelines.kt
Labels: library, ios

Adds support for outputting variables to Asset catalogs
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/variables/RealVariablesCommand.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/variable/model/IosAssetCatalogVariableDataWriter.kt
Labels: cli, library, ios

Updates color hex encoding to use stdlib functions
  library-core/src/main/java/com/anifichadia/figstract/figma/model/Color.kt
Labels: library, core

Standardizes asset catalog content file update operations
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/AssetCatalog.kt
Labels: library, ios

Adds support for outputting variables to SwiftUI
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/variables/OutputCodeOptionGroup.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/variables/RealVariablesCommand.kt
  gradle/libs.versions.toml
  library-ios/build.gradle.kts
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/variable/model/IosSwiftUiVariableDataWriter.kt
Labels: dependencies, cli, library, ios

.github/labeler.yml:

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'gradle/libs.versions.toml'
cli:
  - changed-files:
      - any-glob-to-any-file:
          - 'cli/**'
          - 'cli-core/**'
library:
  - changed-files:
      - any-glob-to-any-file:
          - 'library-core/**'
          - 'library-android/**'
          - 'library-ios/**'
core:
  - changed-files:
      - any-glob-to-any-file:
          - 'library-core/**'
android:
  - changed-files:
      - any-glob-to-any-file:
          - 'library-android/**'
ios:
  - changed-files:
      - any-glob-to-any-file:
          - 'library-ios/**'
