Repository AniFichadia/Figstract, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, cli, library, core, android, ios

Sets up automatic release notes
  .github/release.yml
Labels: none

Ensures ktor (serialization) is excluded from minimization
  cli/build.gradle.kts
Labels: cli

Updates property value source handling to just use the option name
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/ValueSources.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/assets/AssetsCommand.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/variables/VariablesCommand.kt
Labels: none

Prepares release 0.0.2
  build.gradle.kts
Labels: none

things
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/variable/model/IosSwiftUiVariableDataWriter.kt
Labels: none

Moves iOS asset catalog handling to more reusable package
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/assets/handler/ArtworkFileHandler.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/assets/handler/IconFileHandler.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/figma/model/ExportConfigs.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/asset/model/importing/ImportPipelineSteps.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/asset/model/importing/ImportPipelines.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/assetcatalog/Content.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/assetcatalog/Helpers.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/assetcatalog/Scale.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/assetcatalog/Type.kt
Labels: none

Adds support for outputting variables to SwiftUi
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/variables/OutputCodeOptionGroup.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/variables/RealVariablesCommand.kt
  gradle/libs.versions.toml
  library-ios/build.gradle.kts
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/variable/model/IosSwiftUiVariableDataWriter.kt
Labels: dependencies, library, ios

Ensures logback is not minimized in -all jar
  cli/build.gradle.kts
Labels: cli

Sets up option to configure log leve
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/FigstractCommand.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/LogLevel.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/LogLevelOptions.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/Loggers.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/Logging.kt
Labels: none

Includes logging doco
  readme.md
Labels: none

Prepares release 0.0.3
  build.gradle.kts
Labels: none

Ensures record's parent directory structure is always created
  library-core/src/main/java/com/anifichadia/figstract/model/tracking/JsonFileProcessingRecordRepository.kt
Labels: none

Updates how clikt objects are provided
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/Contexts.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/FigstractCommand.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/assets/AssetsCommand.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/variables/VariablesCommand.kt
Labels: none

Prepares release 0.0.4
  build.gradle.kts
Labels: none

Moves version management (back) to gradle.properties
  build.gradle.kts
  gradle.properties
Labels: none

Adds links for build badges in readme for easier nav
  readme.md
Labels: none

Adds bugs to release note generation
  .github/release.yml
Labels: none

Release creation automation
  .github/workflows/create-release.yml
Labels: none

Adds codeowners so only owners can create releases
  .github/CODEOWNERS
Labels: none

Updates release creation to trigger on version changes
  .github/workflows/create-release.yml
Labels: none

Updates previous commit handling
  .github/workflows/create-release.yml
Labels: none

Updates release triggers to be on successful main builds instead of pushes
  .github/workflows/create-release.yml
Labels: none

Fixes release creation trigger to only respect Build's on main
  .github/workflows/create-release.yml
Labels: none

Creates custom proxy type
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/ProxyOptionGroup.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/ProxyType.kt
Labels: none

Updates HTTP proxy to accept full URLs in only the host
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/ProxyType.kt
Labels: none

Adds auto-detected proxy type
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/ProxyType.kt
Labels: none

Fixes release creation dry run handling and permission for creating release
  .github/workflows/create-release.yml
Labels: none

Various release fixes
  .github/workflows/create-release.yml
  .github/workflows/release.yml
Labels: none

Prepares release 0.1.0
  gradle.properties
Labels: none

More release process testing
  .github/workflows/create-release.yml
  .github/workflows/release.yml
Labels: none

Fixes PR labeler triggers
  .github/workflows/label.yml
Labels: none

Minor value source cleanup
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/ValueSources.kt
Labels: none

Moves iOS asset catalog handling to more reusable package
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/assets/handler/ArtworkFileHandler.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/assets/handler/IconFileHandler.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/Content.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/Helpers.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/Scale.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/Type.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/figma/model/ExportConfigs.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/asset/model/importing/ImportPipelineSteps.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/asset/model/importing/ImportPipelines.kt
Labels: none

Removes old asset catalog helpers
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/Helpers.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/Scale.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/asset/model/importing/ImportPipelineSteps.kt
Labels: none

Decouples asset catalog idioms from Images
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/assets/handler/ArtworkFileHandler.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/assets/handler/IconFileHandler.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/Content.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/asset/model/importing/ImportPipelineSteps.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/asset/model/importing/ImportPipelines.kt
Labels: none

Creates asset catalog builder
  library-ios/src/main/java/com/anifichadia/figstract/ios/assetcatalog/AssetCatalog.kt
Labels: none

Migrates iOS handlers to use Asset Catalog builder enabled functions
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/assets/handler/ArtworkFileHandler.kt
  cli-core/src/main/java/com/anifichadia/figstract/cli/core/assets/handler/IconFileHandler.kt
  library-ios/src/main/java/com/anifichadia/figstract/ios/importer/asset/model/importing/ImportPipelines.kt
Labels: none

.github/labeler.yml:

dependencies:
  - 'gradle/libs.versions.toml'
cli:
  - 'cli/*'
  - 'cli-core/*'
library:
  - 'library-core/*'
  - 'library-android/*'
  - 'library-ios/*'
core:
  - 'library-core/*'
android:
  - 'library-android/*'
ios:
  - 'library-ios/*'
